<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title or 'Trip Tally' }}</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <header class="container">
      <nav>
        <ul>
          <li><strong>Trip Tally</strong></li>
        </ul>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('upload_page') }}" role="button">Upload</a></li>
          <li><a href="{{ url_for('history') }}">History</a></li>
          <li><a href="{{ url_for('trips') }}">Trips</a></li>
          {% if current_user.role == 'admin' %}
          <li><a href="{{ url_for('admin_drivers_list') }}">Admin View</a></li>
          {% endif %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div>
          {% for category, message in messages %}
            <article class="{{ category }}">{{ message }}</article>
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
    <footer class="container">
      <small>© {{ 2025 }} Trip Tally</small>
    </footer>
  </body>
  </html>


